table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table thead {
    background-color: #29A7E1;
    color: white;
}

table tbody {
    background-color: #D3D3D3;
}

table tfoot {
    background-color: #CCC;
}

table th, td {
    border: 1px solid blue;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}