table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table thead {
    background-color: #29a7e1;
    color: white;
}

table tbody {
    background-color: #d3d3d3;
}

table tfoot {
    background-color: #ccc;
}

table th,
td {
    border: 1px solid blue;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.link-btn {
    cursor: pointer;
    color: #0098d6;
}

.remove-btn:hover {
    color: #b90303;
}

.edit-btn:hover {
    color: #039903;
}
